.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Estilos para os containers */

/* Container 1: alinhado à esquerda */
.container1 {
    display: flex;
    justify-content: flex-start;
}

/* Container 2: alinhado à direita */
.container2 {
    display: flex;
    justify-content: flex-end;
}

/* Container 3: centralizado */
.container3 {
    display: flex;
    justify-content: center;
}

/* Container 4: espaço entre os itens, com o primeiro na esquerda e último na direita */
.container4 {
    display: flex;
    justify-content: space-between;
}

/* Container 5: espaço ao redor de cada item */
.container5 {
    display: flex;
    justify-content: space-around;
}

/* Container 6: mesmo espaçamento entre os itens */
.container6 {
    display: flex;
    justify-content: space-evenly;
}